<ion-header>
  <ion-toolbar>
    <ion-title> About Eric King Design </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/logo4.png" alt="Company Logo" />
    <ion-card-content>
      <ion-card-title>Our Story</ion-card-title>
      <p>
        Eric King Design is a versatile design and printing business that offers
        a wide range of creative and promotional products and services. Whether
        you need personalized items for an event, business branding, or
        decorative pieces, we offer a range of solutions to meet your needs.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Stationery Printing</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Invitation Cards and Programs: Design and printing services for
        invitations and event programs.<br />
        - Photo Printing: High-quality photo printing services for preserving
        and sharing memories.<br />
        - Binding: Document binding services for reports, presentations, and
        more.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Promotional Products</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Key Holders: Customized key holders with unique designs or
        branding.<br />
        - Stamps: Personalized stamps for various purposes, such as business
        logos or addresses.<br />
        - Business Cards: Design and printing of professional business cards.<br />
        - Name Tags and Badges: Custom name tags and badges for events or
        businesses.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Logo Design, Signage, and Displays</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Creation of distinctive logos to establish a strong brand identity for
        businesses and organizations.<br />
        - Cromadecks: Custom signage, likely used for promotional displays or
        signage.<br />
        - Welcome Boards: Welcoming signs for events, businesses, or homes.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [routerLink]="'/home'">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="radio" [routerLink]="'/contact'">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          Message
        </ion-tab-button>
        <ion-tab-button tab="library" [routerLink]="'/profile'">
          <ion-icon name="person-circle-outline"></ion-icon>
          Profile
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
