<ion-content>
  <ion-card-header>
    <ion-card-title style="text-align: center">
      <img src="assets/logo4.png" alt="Company Logo" /><br />
      BRANDING</ion-card-title
    >
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content style="text-align: center">
    Branding is a crucial aspect of Eric King Designs, as they offer a wide
    range of creative design and promotional products and services. In the
    context of Eric King Designs, branding refers to the process of creating a
    unique and consistent visual identity for businesses and individuals. This
    visual identity encompasses various elements, including logos, business
    cards, brochures, and other promotional materials. Here's a brief overview
    of branding services provided by Eric King Designs:
    <br />
    <b>Logo Design:</b> Eric King Designs can create custom logos that represent
    your business or personal brand. A well-designed logo is a fundamental
    element of your brand's visual identity.
    <br />
    <b>Business Cards:</b> They can design and print business cards that
    incorporate your logo and essential contact information, leaving a lasting
    impression on clients and contacts.
    <br />
    <b>Brochures and Flyers:</b> Eric King Designs can design and print
    promotional materials such as brochures and flyers. These materials are
    essential for marketing campaigns and events.
    <br />
    <b>Branded Merchandise:</b> They may offer branded merchandise like custom
    apparel, mugs, or other promotional items to help you extend your brand's
    reach.
    <br />
    <b>Consistency in Design:</b> Ensuring that all your promotional materials
    have a consistent design and branding, which helps in building a strong and
    recognizable brand identity.
    <br />
    <b>Print and Production: </b>They can handle the printing and production of
    these branded materials, delivering high-quality outputs that reflect your
    brand's quality.
    <br />
    Overall, branding services at Eric King Designs help businesses and
    individuals establish a memorable and consistent visual identity that sets
    them apart from the competition and helps build trust and recognition among
    their target audience.
  </ion-card-content>

  <ion-list class="product-container">
    <!-- Product 1 -->
    <ion-card class="product-card">
      <ion-list lines="full">
        <ion-item>
          <ion-img
            slot="start"
            src="assets/f1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/br1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/00.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/7.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/B3.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
        </ion-item>

        <ion-item>
          <ion-img
            slot="start"
            src="assets/T1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/download1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/G1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/in1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/W1.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
          <ion-img
            slot="start"
            src="assets/gra2.jpg"
            alt="T1"
            style="width: 15%; height: 15%; border-radius: 25%"
          ></ion-img>
        </ion-item>

        <!-- Add more promotional items as needed -->
      </ion-list>

      <!-- Continue the same structure for other sections: WELCOME BOARDS, T-SHIRTS, KEY HOLDER -->
    </ion-card></ion-list
  ></ion-content
>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [routerLink]="'/home'">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="radio" [routerLink]="'/contact'">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          Message
        </ion-tab-button>
        <ion-tab-button tab="library" [routerLink]="'/profile'">
          <ion-icon name="person-circle-outline"></ion-icon>
          Profile
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
